<f:layout name="default" />
<f:section name="content">
  <table class="maincontent">
    <tr class="row">
      <td class="{settings.classColMainContentMain} columns maincontentmain" colspan="3">
        <!--content-->
        <f:cObject typoscriptObjectPath="start.structure.content.main" />
        <!--/content-->
      </td>
    </tr>
    <tr class="row">
      <td class="{settings.classColMainContentBottomLeft} columns">
        <f:cObject typoscriptObjectPath="start.structure.content.bottomLeft" />
      </td>
      <td class="{settings.classColMainContentBottomCenter} columns">
        <f:cObject typoscriptObjectPath="start.structure.content.bottomCenter" />
      </td>
      <td class="{settings.classColMainContentBottomRight} columns">
        <f:cObject typoscriptObjectPath="start.structure.content.bottomRight" />
      </td>
    </tr>
  </table>
</f:section>