<f:layout name="default" />
<f:section name="content">
  <table>
    <tr>
      <td style="{settings.stylesColMainContentMain}" colspan="3">
        <!--content-->
        <f:cObject typoscriptObjectPath="start.structure.content.main" />
        <!--/content-->
      </td>
    </tr>
    <tr>
      <td style="{settings.styleColMainContentBottomLeft}">
        <f:cObject typoscriptObjectPath="start.structure.content.bottomLeft" />
      </td>
      <td style="{settings.styleColMainContentBottomCenter}">
        <f:cObject typoscriptObjectPath="start.structure.content.bottomCenter" />
      </td>
      <td style="{settings.styleColMainContentBottomRight}">
        <f:cObject typoscriptObjectPath="start.structure.content.bottomRight" />
      </td>
    </tr>
  </table>
</f:section>