<f:layout name="default" />
<f:section name="content">
  <table style="{settings.styleTable}" >
    <tbody>
      <tr>
        <td style="{settings.styleTableTr0Td0}">
          <f:cObject typoscriptObjectPath="start.structure.content.topLeft" />
        </td>
        <td style="{settings.styleTableTr0Td1}">
          <f:cObject typoscriptObjectPath="start.structure.content.topCenter" />
        </td>
        <td style="{settings.styleTableTr0Td2}">
          <f:cObject typoscriptObjectPath="start.structure.content.topRight" />
        </td>
      </tr>
      <tr>
        <td style="{settings.styleTableTr1Td0}" colspan="3">
          <!--content-->
          <f:cObject typoscriptObjectPath="start.structure.content.main" />
          <!--/content-->
        </td>
      </tr>
    </tbody>
  </table>
</f:section>
